<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Bank API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

    .topnav-right {
        float: right;
    }


    body {
        font-family: Arial;
    }

    * {
        box-sizing: border-box;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.example button:hover {
        background: #0b7dda;
    }


</style>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand m-auto" href="/dashboard">Book Bank</a>
        </div>
        <div class="topnav-right">
            <ul class="nav navbar-nav -align-left">
                <li class="active"><a href="#">Home</a></li>
                <li class=""><a href="#">Search</a></li>
                <li><a href="#">Last 15 Search</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <h1>Author Record</h1>
    <div class="col-sm-8">
        <table class="table table-bordered">
            &nbsp;
            <thead>
            <tr>
                <th>Author Name</th>
                <th>Bio</th>
                <th>Books</th>
                <th>birth_date</th>
                <th>Wikipedia</th>

            </tr>
            </thead>
            <tbody class="mypanel">

            </tbody>
        </table>

    </div>
   <div class="col-sm-3">
       <div class="picpanel" style="margin-left: 240px;">

       </div>
   </div>

</div>

</body>
<!-- fetching data from api
<script>
    fetch('https://openlibrary.org/subjects/science.json')
        .then(res => res.json())
        .then((out) => {
            console.log('Output: ', out);
        }).catch(err => console.error(err));
</script>
-->
<% match%>
<script>
    $.getJSON(`https://openlibrary.org/authors/<%= match %>.json`, function(data) {


        var text = `<tr><td>${data.name}</td>
                        <td>${data.bio}</td>
                        <td>${data.alternate_names}</td>
                    <td>${data.birth_date}</td>
                    <td>${data.wikipedia}</td></tr>`
        var pic = `${data.photos[0]}`
        $(".mypanel").html(text);
        var name = `${data.name}`
        $(".name").html(name);
        var add =pic+'-M.jpg'
        console.log(add);
        $(".picpanel").append("<img src='https://covers.openlibrary.org/a/id/" + add + "'>");
        // $(".picpanel").css('background-image', 'url(' + add + ')');
    });
</script>
</html>
